Suche: <input type="text" ng-model="search.firstname">
<table>
    <thead>
    <tr>
        <th>{{ 'GENDER' | translate }}</th>
        <th>{{ 'FIRSTNAME' | translate }}</th>
        <th>{{ 'LASTNAME' | translate }}</th>
        <th>{{ 'STREET' | translate }}</th>
        <th>{{ 'POSTCODE' | translate }}</th>
        <th>{{ 'PLACE' | translate }}</th>
        <th>{{ 'EDIT' | translate }}</th>
        <th>{{ 'DELETE' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="address in addresses | filter : search">
        <td>{{ address.gender | translate }}</td>
        <td>{{ address.firstname }}</td>
        <td>{{ address.lastname }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.postcode }}</td>
        <td>{{ address.place }}</td>
        <td><button ui-sref="edit({id: {{address.id}} })">{{ 'EDIT' | translate }}</button></td>
        <td><button ui-sref="delete({id: {{address.id}} })">{{ 'DELETE' | translate }}</button></td>
    </tr>
    </tbody>
</table>

<div ng-hide="displayForm">
    <button ui-sref="edit">{{ 'NEW' | translate }}</button>
</div>